.sidebar {}

.sidebar__summary {
    width: 100%;
    height: 100px;
}

.sidebar__profile-photo-wrapper {
    width: 100px;
    height: 100px;
}
.sidebar__profile-photo {
	width: 70%;
    height: 70%;
    border-radius: 99px;
    margin: 40px;
}
